body {
  margin: 0;
  padding: 0;
  font-family: Arial, san-serif;
  font-size: small;
  box-sizing: border-box;
}

header {
  position: relative;
  top: 0;
  height: 40px;
}
ul {
  list-style: none;
}

li {
  display: inline;
}

.header img {
  height: 22px;
}

.header {
  position: absolute;
  right: 15px;
  height: 40px
}

.header-contents li {
  margin-left: 20px;
  float: left;
}

.header-contents .pacman {
  height: 33px;
}

.main-section {
  position: relative;
  top: 150px;
}

.logo img {
  display: block;
  width: 270px;
  margin: 0 auto;
}

.search-form {
  display: block;
  height: 100px;
  padding: 0px;
  margin-top: 30px;
}

.search-bar input {
  display: block;
  width: 500px;
  height: 40px;
  margin: 0 auto;
}

.search-buttons {
  display: block;
  margin: 0 auto;
  text-align: center;
}

.search-buttons .buttons{
  font-size: 12px;
  font-weight: bold;
  background-color: lightgray;
  border: none;
  padding: 0 15px 0 15px;
  margin: 20px 2px;
  height: 35px;
}

.learn-more {
  padding-top: 0;
  text-align: center;
  margin-top: 15px;
}

.footer-bar {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: lightgray;
  height: 40px;
}

.footer-left {
  position: absolute;
  bottom: 0;
  left: -25px;
}

.footer-right {
  position: absolute;
  bottom: 0;
  right: 15px;
  float: right;
}

.footer-left li {
  padding: 15px;
}

.footer-right li {
  padding: 15px;
}
